In [29]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import h5py
from scipy.io import loadmat

In [30]:
data = loadmat('/Users/quinnmackay/Downloads/GISP2_LID_20220302.mat')
print(data.keys())

dict_keys(['__header__', '__version__', '__globals__', 'lid'])

In [31]:
import pandas as pd
from scipy.io import loadmat

data = loadmat('/Users/quinnmackay/Downloads/GISP2_LID_20220302.mat')
lid = data['lid']

# Convert to DataFrame
df = pd.DataFrame(lid, columns=['age', 'LID'])

print(df.head())

    age  LID
0   0.0  NaN
1 -20.0  NaN
2 -40.0  NaN
3 -60.0  NaN
4 -80.0  NaN

In [32]:
df.dropna(subset=['LID'], inplace=True)

In [33]:
depthage = pd.read_csv('/Users/quinnmackay/Documents/GitHub/BICC/Data Storage/GISP2/GISP2_depthage.tab', sep='\t', skiprows=17)
depthage

       Depth ice/snow [m]  Age model [ka]
0                    1.51          -0.039
1                    2.04          -0.038
2                    2.82          -0.037
3                    3.32          -0.036
4                    3.99          -0.035
...                   ...             ...
11914             3033.00         162.108
11915             3034.00         162.381
11916             3035.00         162.638
11917             3036.00         162.903
11918             3037.00         163.164

[11919 rows x 2 columns]

In [39]:
df['depth'] = np.interp((df['age']*-1)/1000, depthage['Age model [ka]'], depthage['Depth ice/snow [m]'])

df['rel_unc'] = 0.2

df2 = df[['depth', 'LID', 'rel_unc']].copy()

df2.to_csv('/Users/quinnmackay/Desktop/temp/lid.txt', sep='\t', index=False)
df2

            depth        LID  rel_unc
10      81.150000  69.610617      0.2
11      86.360000  69.833469      0.2
12      91.490000  70.018883      0.2
13      96.630000  70.106324      0.2
14     101.920000  70.126741      0.2
...           ...        ...      ...
2996  2534.481481  95.515444      0.2
2997  2534.728395  95.755431      0.2
2998  2534.975309  96.028792      0.2
2999  2535.227848  96.321953      0.2
3000  2535.481013  96.692616      0.2

[2991 rows x 3 columns]