In [12]:
import pandas as pd
import numpy as np
import os
import re

#set data paths
os.chdir("/Users/quinnmackay/Documents/GitHub/BICC/Holcene Revision")
links_path = "EDML-WDC Errors/EDML_WDC_horizons.txt"
WD2014_path = "Updated_WD2014 Layer Count.tab"
EDML_age = "EDML-WDC Errors/EDML_counted.xlsx"

#import data
links = pd.read_csv(links_path, skiprows=1, names=["EDML", "WDC", "UNCERTAINTY"], delimiter='\t')
WD2014 = pd.read_csv(WD2014_path, comment="#", delimiter="\t", names=["Depth ice/snow [m]", "Cal age [ka BP] (ice age)"])
EDML = pd.read_excel(EDML_age, sheet_name=0, skiprows=1, usecols=[0,1])
EDML["age (b1950)"] = EDML["Year b2k"] - 50

In [13]:
EDML

       Depth (m)  Year b2k  age (b1950)
0        113.113      1259         1209
1        113.166      1260         1210
2        113.210      1261         1211
3        113.292      1262         1212
4        113.367      1263         1213
...          ...       ...          ...
10445    677.352     11704        11654
10446    677.400     11705        11655
10447    677.433     11706        11656
10448    677.497     11707        11657
10449    677.539     11708        11658

[10450 rows x 3 columns]