In [13]:
import pandas as pd
import numpy as np

interval_dir = '/Users/quinnmackay/Documents/GitHub/paleochrono/BICC2025/NGRIP/temp/ice_age_intervals.txt'

intervals = pd.read_csv(interval_dir, delimiter='\t', comment='#')

In [15]:
intervals['dur_unc'][intervals['dur_unc'] <= 0] = 0.01

/var/folders/cd/1mh45k3j19g5g_kxkz_17xvc0000gn/T/ipykernel_9835/3051085535.py:1: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  intervals['dur_unc'][intervals['dur_unc'] <= 0] = 0.01
/var/folders/cd/1mh45k3j19g5g_kxkz_17xvc0000gn/T/ipykernel_9835/3051085535.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  intervals['dur_unc'][intervals['dur_unc'] <= 0] = 0.01

In [16]:
intervals.to_csv('/Users/quinnmackay/Documents/GitHub/paleochrono/BICC2025/NGRIP/temp/intervals_fixed.txt', sep='\t', index=False)

In [17]:
intervals

     depth_top  depth_bot  duration  dur_unc
0        9.900     38.817       100     0.01
1       38.817     62.275       100     0.01
2       62.275     83.115       100     0.01
3       83.115    102.805       100     0.01
4      102.805    121.735       100     0.01
..         ...        ...       ...      ...
596   2422.613   2423.693       100     6.00
597   2423.693   2424.793       100     5.00
598   2424.793   2425.816       100     2.00
599   2425.816   2426.872       100     3.00
600   2426.872   2427.981       100     7.00

[601 rows x 4 columns]